.BurgerIcon {
    display: none;
    align-items: center;

    position: relative;
    cursor: pointer;
    height: 2rem;
    width: 3rem;
}

.BurgerIcon span,
.BurgerIcon span::before,
.BurgerIcon span::after {
    content: '';
    
    background-color: #969696;
    display: block;
    height: .2rem;
    width: 100%;
}

.BurgerIcon span::before,
.BurgerIcon span::after { position: absolute; }

.BurgerIcon span::before { top: 0; }
.BurgerIcon span::after { bottom: 0; }

@media only screen and (max-width: 62.5em) {
    .BurgerIcon { display: flex; }
}

