.NavigationItem {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: color .2s;
}

.NavigationItem a,
.NavigationItem a:link,
.NavigationItem a:visited {
    color: inherit;
    text-decoration: none;
}

.NavigationItem:hover,
.NavigationItem:active { color: #e60003; }

.NavigationItem:not(:last-child) { margin-right: 2rem; }

@media only screen and (max-width: 62.5em) {
    .NavigationItem:not(:last-child) {
        margin-right: initial;
    }
}

@media only screen and (max-width: 62.5em) {
    .NavigationItem {
        margin-bottom: 3rem;
    }
}