.CalcItems {
    display: flex;
    justify-content: center;

    margin-top: 4rem;
    text-align: center;
    list-style: none;
}

.CalcItems img {
    width: 14rem;
}

.CalcItems li {
    padding: 0 2rem;
}

.CalcItems span {
    display: block;
}

.CalcItems span:first-child {
    font-size: 1.6rem;
    margin: 1rem 0;
}

@media only screen and (max-width: 46.87em) {
    .CalcItems { flex-wrap: wrap; }
    
    .CalcItems li {
        flex: 30%;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 31.25em) {
    .CalcItems li {
        flex: 50%;
        margin-bottom: 4rem;
    }
}



